@model NewBTC.Areas.Investment.Deposits

<form id="depositForm" asp-action="DepositEdit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateDeposited"></label>
        <input asp-for="DateDeposited" class="form-control" />
        <span asp-validation-for="DateDeposited" Class="text-danger"></span>
    </div>
</form>
