@page
@using NewBTC.Areas.Investment
@model NewBTC.Pages.Deposits.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Deposits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*  <div class="form-group">
                <label asp-for="Deposits.Name" class="control-label"></label>
                <input asp-for="Deposits.Name" class="form-control" />
                <span asp-validation-for="Deposits.Name" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Deposits.Amount" class="control-label"></label>
                <input asp-for="Deposits.Amount" class="form-control" />
                <span asp-validation-for="Deposits.Amount" class="text-danger"></span>
            </div>
            <div class="form-group" >
                @*<label asp-for="Deposits.UserId" class="control-label"></label>
                <input asp-for="Deposits.UserId" class="form-control" />
                <span asp-validation-for="Deposits.UserId" class="text-danger"></span>*@
           @*     @Html.DropDownListFor(m=>m.Deposits.status, new SelectList(Enum.GetValues(typeof(Status))),"Update payment status")*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
