@page
@model NewBTC.Pages.Withdraw.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Withdraw</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Withdraw.Id" />
            <div class="form-group">
                <label asp-for="Withdraw.Username" class="control-label"></label>
                <input asp-for="Withdraw.Username" class="form-control" />
                <span asp-validation-for="Withdraw.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Withdraw.withdrawAmount" class="control-label"></label>
                <input asp-for="Withdraw.withdrawAmount" class="form-control" />
                <span asp-validation-for="Withdraw.withdrawAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Withdraw.WithdrawDate" class="control-label"></label>
                <input asp-for="Withdraw.WithdrawDate" class="form-control" />
                <span asp-validation-for="Withdraw.WithdrawDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Withdraw.TotalAmount" class="control-label"></label>
                <input asp-for="Withdraw.TotalAmount" class="form-control" />
                <span asp-validation-for="Withdraw.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Withdraw.AcctBalance" class="control-label"></label>
                <input asp-for="Withdraw.AcctBalance" class="form-control" />
                <span asp-validation-for="Withdraw.AcctBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Withdraw.Wstatus" class="control-label"></label>
                <select asp-for="Withdraw.Wstatus" class="form-control"></select>
                <span asp-validation-for="Withdraw.Wstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
